*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box ;
}
body{
background-color:rgb(51, 53, 101);
height: 100vh;
}

.container{
    background-image: linear-gradient(to right,rgb(28, 31, 52), rgba(9, 17, 9, 0.585));
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    background color: black;
    box-sizing: border-box;
    box-shadow : 0 15px 25px black; 
    border-radius: 12px;
    color: white;
    padding: 30px;
}

.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600px;
}

.btn{
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 2px;
    width: 100%;
    cursor: pointer;
    background-color: antiquewhite;
    transition: 0.5s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.966);   
}
.btn:hover:not([disabled])
{
    background: rgb(104, 69, 69);
    color: rgb(77, 45, 45);

}
.btn:disabled{
    cursor: no-drop;
}
#next{
    font-weight: 500;
    width: 150px;
    font-weight: 500;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    transition: 0.5s;
    display: block;
}
#next:hover{
    background: rgb(60, 35, 107);
    color: rgb(255, 255, 255);
}


body.dark-mode {
    background-color: rgba(1, 1, 3);
    color: black;
}

.container.dark-mode {
    background-color: black;
}
#darkModeToggle{
   font-weight: 500;
    width: 150px;
    font-weight: 500;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    transition: 0.5s;
}
#darkModeToggle:hover{
    background: rgb(60, 35, 107);
    color: rgb(255, 255, 255);
}
.timer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .timer {
    font-size: 20px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .timer span {
    margin-left: 5px;
  }
  
  .dark-mode .timer {
    background-color: #444;
  }
  #correct-answers{
    color: #90a9c4;
    box-sizing: border-box;
    font-weight: bold;
    margin: 10px;
  }
  